@import "../../utils/utils.style.scss";

.app__video__section {
  padding-top: 70px;
  position: relative;

  .app__video__section__video {
    position: relative;

    video {
      border-radius: $external-border-radius;
      cursor: pointer;
      filter: brightness(0.8);
      height: 500px;
      object-fit: cover;
      width: 100%;
    }

    button {
      background: #fff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      height: 70px;
      left: 50%;
      margin: 0;
      padding: 0;
      padding: 20px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 70px;

      svg {
        background: #fff;
        box-shadow: none;
        color: $oragen-color;
        font-size: 3rem;
        left: 54%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.paused {
        svg {
          left: 50%;
        }
        animation: fade 0.5s linear;
        opacity: 0;
        transition: ease-out 0.5s all;
      }
    }
  }

  .app__video__section__info {
    margin-top: 50px;
    padding-bottom: 50px;

    .app__video__section__info__icon__container {
      @include displayFlex;
      position: relative;

      section {
        @include displayFlex;
      }

      svg {
        color: $oragen-color;
        font-size: 2.5rem;
      }

      label {
        font-size: 2.5rem;
        font-weight: 600;
      }

      p {
        color: $gray-header-text;
        font-weight: 400;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1330px) {
  .app__video__section {
    .app__video__section__info {
      .app__video__section__info__icon__container {
        svg,
        label {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .app__video__section {
    .app__video__section__info {
      .app__video__section__info__icon__container {
        svg,
        label {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 1035px) {
  .app__video__section {
    .app__video__section__info {
      .app__video__section__info__icon__container {
        align-items: center;
        flex-direction: column;
        gap: 0px;

        p {
          margin: 0;
        }

        svg,
        label {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .app__video__section {
    .app__video__section__info {
      .app__video__section__info__icon__container {
        svg,
        label {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .app__video__section {
    .app__video__section__info {
      .app__video__section__info__icon__container {
        section {
          align-items: center;
          flex-direction: column;
          gap: 0;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .app__video__section {
    .app__video__section__info {
      margin-top: 30px;

      .app__video__section__info__icon__container {
        label {
          font-size: 1rem;
        }
      }
    }
  }
}
