@import "../../utils/utils.style.scss";

.card__presentation {
  border-radius: $external-border-radius;
  height: 350px;
  min-width: 250px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  transition: ease-in-out 0.5s all;
  width: 100%;

  .brightness {
    backdrop-filter: brightness(0.8);
    border-radius: $external-border-radius;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover > img {
    transform: scale(1.3) rotate(-10deg) !important;
    transition: ease-in-out 0.5s all;
  }

  .not_available {
    border-radius: 0;
    filter: opacity(0.4);
    height: fit-content;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(52deg) translate(-38px, -35%);
    width: 100%;
    z-index: 1;
  }

  &:hover > .not_available {
    transform: rotate(52deg) translate(-38px, -35%) !important;
  }

  .card__presentation__rating {
    @include displayFlex;
    background-color: #fff;
    border-radius: $external-border-radius;
    color: #000;
    font-size: 0.75rem;
    font-weight: 700;
    gap: 5px;
    padding: 5px 10px 3px 7px;
    position: absolute;
    right: 5%;
    top: 10px;
    z-index: 2;

    svg {
      color: $oragen-color;
      font-size: 0.75rem;
      margin-bottom: 3px;
    }
  }

  img {
    border-radius: $external-border-radius;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: ease-in-out 0.5s all;
    width: 100%;
  }

  .card__presentation__caption {
    background: #fff;
    border-radius: $internal-border-radius;
    bottom: 15px;
    color: $gray-header-text;
    font-size: 0.8rem;
    left: 50%;
    margin: auto;
    padding: 10px;
    position: absolute;
    transform: translateX(-50%);
    width: 80%;

    b {
      color: #000;
      font-size: 0.95rem;
      font-weight: 600;
    }

    p {
      margin: 5px 0;
      margin-bottom: 15px;

      svg {
        margin-right: 5px;
      }
    }

    .card__presentation__caption__price {
      @include buttonOrangeGradient;
      -webkit-background-clip: text;
      bottom: 10px;
      font-weight: 600;
      position: absolute;
      right: 10px;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 550px) {
  .card__presentation {
    max-width: 250px;
  }
}
