@import "../../utils/utils.style.scss";

table {
  border-spacing: 0;
  display: block;
}

.table__header {
  background-color: $gray-header-bg;
  border-radius: 20px 20px 0 0;
  display: block;
  position: relative;

  tr {
    display: flex;
    justify-content: space-between;

    th {
      background-color: $gray-header-bg;
      color: $gray-header-text;
      cursor: pointer;
      font-size: 0.75rem;
      font-weight: 400;
      padding: 1.25rem 1rem;

      &:nth-child(1) {
        border-radius: 20px 0 0 0;
      }

      &:nth-last-child(1) {
        border-radius: 0 20px 0 0;
      }

      &.active {
        @include activePanel;
        background: #fff;
        color: #000;
        font-weight: 500;
      }
    }
  }
}
