@import "../../utils/utils.style.scss";

.panelVisible {
  opacity: 1;
  position: relative;
  transform: scale(1);
  transition: ease-in-out 0.5s all;
}

.panelHidden {
  opacity: 0;
  position: absolute;
  transform: scale(0);
}

.chip__container {
  @include displayFlex;
  background-color: $chip-gb-container;
  border-radius: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 20px;
  position: relative;

  &.dark {
    background-color: $chip-gb-container;

    .app__chip {
      background-color: $chip-gb;

      svg {
        background-color: $chip-gb-icon;
      }
    }
  }

  &.light {
    background-color: $gray-header-bg;

    .app__chip {
      background: #fff;

      svg {
        background-color: $gray-header-bg;
      }
    }
  }

  .app__chip {
    @include displayFlex;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    padding-right: 20px;
    position: relative;
    width: max-content;

    .close {
      @extend .panelVisible;
    }

    svg {
      border-radius: 50%;
      padding: 10px;
    }

    &.active {
      @include buttonOrangeGradient;
      box-shadow: $box-shadows00200;
      color: #fff;

      svg {
        background-color: #fff;
        color: #000;
      }
    }

    &.close {
      font-size: 1rem;
      padding: 5px;
    }
  }

  &.visible {
    overflow: hidden;

    .app__chip {
      @extend .panelHidden;

      &.active {
        position: relative;
        @extend .panelVisible;
      }
    }

    .chip__sublist {
      @include displayFlex;
      border-left: solid 2px;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 20px;

      .app__chip {
        @extend .app__chip;
        display: flex;
        opacity: 1;
        position: relative;
        transform: scale(1);
        transition: ease-in-out 0.5s all;
      }
    }
  }

  &.hidden {
    .chip__sublist {
      @include displayFlex;
      @include displayFlex;

      .app__chip {
        @include displayFlex;
        @extend .panelHidden;
      }
    }
  }
}
