@import "../../utils/utils.style.scss";

.app__home__products {
  margin-top: 50px;
  position: relative;

  h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
  }

  .app__home__products__container {
    @include displayFlex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    width: 100%;

    .empty__label {
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
      width: 100%;

      p {
        margin-top: 0;
      }

      svg {
        color: $oragen-color;
        font-size: 4rem;
      }
    }
  }

  button {
    @include buttonOrangeGradient;
    @include boxShadows;
    @include fontShadows;
    @include displayFlex;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    margin: auto;
    margin-top: 40px;
    padding: 1rem;
    width: 200px;

    &.hidden {
      opacity: 0;
    }
  }
}

@media (max-width: 550px) {
  .app__home__products {
    .app__home__products__container {
      justify-content: center;
    }
  }
}
