@import "../../utils/utils.style.scss";

.app__home__products {
  margin-top: 50px;
  position: relative;

  h2 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
  }

  .app__home__products__container {
    margin-top: 40px;
    gap: 30px;

    .empty__label {
      font-size: 1.25rem;
      font-weight: 500;
      grid-column: span 4;
      padding: 0 20px;
      text-align: center;
      width: auto;

      p {
        margin-top: 0;
      }

      svg {
        color: $oragen-color;
        font-size: 4rem;
      }
    }
  }

  button {
    @include buttonOrangeGradient;
    @include boxShadows;
    @include fontShadows;
    @include displayFlex;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    margin: auto;
    margin-top: 40px;
    padding: 1rem;
    width: 200px;

    &.hidden {
      opacity: 0;
    }
  }
}

@media (max-width: 550px) {
  .app__home__products {
    .app__home__products__container {
      justify-content: center;
    }
  }
}

@media (min-width: 1900px) {
  .app__home__products {
    .app__home__products__container {
      grid-template-columns: repeat(5, 1fr) !important;

      .empty__label {
        grid-column: span 5;
      }
    }
  }
}

@media (max-width: 1300px) {
  .app__home__products {
    .app__home__products__container {
      grid-template-columns: repeat(3, 1fr) !important;

      .empty__label {
        grid-column: span 3;
      }
    }
  }
}

@media (max-width: 1000px) {
  .app__home__products {
    .app__home__products__container {
      grid-template-columns: repeat(2, 1fr) !important;

      .empty__label {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: 550px) {
  .app__home__products {
    .app__home__products__container {
      grid-template-columns: 1fr !important;
      justify-items: center;

      .empty__label {
        grid-column: span 1;
      }
    }
  }
}
