@import "../../utils/utils.style.scss";

.frequentquestions {
  position: relative;

  .frequentquestions__container {
    position: relative;

    .title {
      margin-top: 50px;
      text-align: center;
    }
  }

  .frequentquestions__panel {
    margin-top: 50px;
    position: relative;

    img {
      border-radius: 10px;
      height: 100%;
      height: 600px;
      max-height: 600px;
      object-fit: cover;
      width: 100%;
    }

    .frequentquestions__list {
      position: relative;
      width: 100%;

      &.dark {
        .frequentquestions__list__question {
          .accordion {
            color: #fff;
          }

          .accordion,
          .panel {
            background-color: $card-testimonial-dark-bg;

            &.active,
            &:hover {
              background-color: $chip-gb-container;
            }
          }
        }
      }
    }
  }
}
