@import "../../utils/utils.style.scss";

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;

  &.title__color {
    font-weight: 700;
    text-shadow: none;
  }
}

.contactus {
  position: relative;

  .contactus__container {
    margin-top: 90px;
    position: relative;

    .contactus__container__title {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    .working__hours {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      text-align: center;

      p {
        margin: 0;

        &:nth-child(1) {
          text-transform: uppercase;
        }
      }

      h5 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 5px auto;
      }
    }
  }

  .contactus__container__form {
    margin-top: 90px;
    text-align: center;

    h3 {
      font-size: 2.5rem;
    }

    .contactus__container__form__panel {
      background-color: $gray-header-bg;
      border-radius: 20px;
      gap: 30px;
      margin-top: 50px;
      padding: 3em;
      position: relative;
      width: auto;

      &.dark {
        background-color: $card-testimonial-dark-bg;

        input,
        textarea {
          background-color: $dark-color;
          color: #fff;
        }
      }

      .form__input {
        position: relative;
        text-align: left;

        p {
          margin: 5px auto;
        }

        input,
        textarea {
          border: none;
          border-radius: 10px;
          padding: 1em;
          position: relative;
          width: -webkit-fill-available;
        }

        &.textfield__message {
          grid-column: span 2;

          textarea {
            height: 150px;
            max-height: 150px;
            max-width: -webkit-fill-available;
            min-height: 150px;
            min-width: -webkit-fill-available;
          }

          &.btn {
            justify-self: right;
          }

          .sendmessage__btn {
            @include buttonOrangeGradient;
            @include fontShadows;
            @include displayFlex;
            border: none;
            border-radius: $external-border-radius;
            color: #fff;
            cursor: pointer;
            font-weight: 500;
            padding: 1rem 2rem;
            position: relative;
            transition: 0.5s ease-out all;
            width: fit-content;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .contactus {
    .contactus__container {
      .contactus__container__title {
        h3 {
          font-size: 1.5rem;
        }
      }

      .contactus__container__form {
        h3 {
          font-size: 2rem;
        }

        .contactus__container__form__panel {
          display: block;

          .form__input {
            margin: 20px auto;

            &.btn {
              text-align: -webkit-right;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .contactus {
    .contactus__container {
      .contactus__container__title {
        h3 {
          font-size: 1.3rem;
        }
      }

      .contactus__container__form {
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .contactus {
    .contactus__container {
      .contactus__container__title {
        flex-direction: column-reverse;

        h3 {
          font-size: 1.5rem;
        }
      }

      .contactus__container__form {
        .contactus__container__form__panel {
          padding: 1em;

          .form__input {
            margin: 20px auto;

            &.btn {
              text-align: -webkit-right;
            }
          }
        }
      }
    }
  }
}
