@import "../../utils/utils.style.scss";

.products {
  padding-top: 100px;
  position: relative;

  .products-container {
    position: relative;

    .products-wrapper {
      gap: 20px;
      position: relative;

      .main-banner {
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: calc(50% - 10px);
      }

      .products-caption {
        grid-column: 2;
        text-align: center;
        width: 100%;

        h1 {
          @include titleColor;
          font-size: 3rem;
        }

        h3 {
          font-size: 1.5rem;
        }

        .product-description {
          text-align: justify;

          span {
            display: block;
            margin-bottom: 12px;
          }
        }

        .products-outstanding {
          gap: 20px;
          margin: 46px 0;

          p {
            border-bottom: solid 1px $oragen-color;
            margin: 0;
            padding-bottom: 10px;
          }
        }

        .schedule,
        .warnings {
          border: solid 1px $oragen-color;
          border-radius: 10px;
          margin-bottom: 46px;
          padding: 8px 16px;
          text-align: left;

          h4 {
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0;
          }
        }

        .warnings {
          @include buttonOrangeGradient;
          color: #fff;
        }

        .btn-order {
          @include displayFlex;
          background: #22af57;
          border: none;
          border-radius: 10px;
          color: #fff;
          cursor: pointer;
          font-size: 18px;
          font-weight: 600;
          height: 56px;
          margin-bottom: 46px;
          transition: 0.25s ease-in-out all;
          width: 100%;

          svg {
            height: 30px;
            width: 30px;
          }

          &:hover {
            background: #19703a;
          }
        }

        .products__gallery {
          position: relative;

          .gallery-compressed {
            @include displayFlex;
            border-radius: 10px;
            bottom: 0;
            color: #fff;
            font-size: 2rem;
            height: 150px;
            pointer-events: none;
            position: absolute;
            right: 0;
            width: calc(25% - 7px);
            z-index: 2;

            p {
              z-index: 2;
            }

            &::before {
              background: rgba($color: #000000, $alpha: 0.5);
              border-radius: 10px;
              content: "";
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
              z-index: 1;
            }
          }

          img,
          video {
            border-radius: 10px;
            cursor: pointer;
            height: 150px;
            object-fit: cover;
            position: relative;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .products {
    .products-container {
      .products-wrapper {
        gap: 0;
        grid-template-columns: 1fr !important;

        .main-banner {
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .products {
    .products-container {
      .products-wrapper {
        .products-caption {
          .products-outstanding {
            grid-template-columns: 1fr !important;
          }
        }

        .products__gallery {
          grid-template-columns: 1fr 1fr !important;
        }

        .products-caption {
          h1 {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
