@import "./utils/utils.style.scss";

* {
  font-family: "Exo", sans-serif;
  font-family: "Poppins", sans-serif;
  // font-family: "Exo", "Poppins", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  margin: auto;
}

.app__container {
  margin: auto;
  position: relative;
}

.dark {
  background-color: $dark-color;
  color: #fff;

  &.front {
    background-color: $dark-front-color;
  }
}

.disabled {
  background-color: $disabled-color;
  color: $gray-header-text;
}

@media (max-width: 1525px) {
  .app__container {
    width: 80% !important;

    &.fullwidth {
      width: 100% !important;
    }
  }
}
