@import "../../utils/utils.style.scss";

.product__detail {
  padding-top: 90px;
  position: relative;

  .product__detail__banner {
    height: 100vh;
    min-height: 700px;
    position: relative;
    width: 100%;

    img {
      filter: brightness(0.5);
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .product__detail__banner__caption {
      @include fontShadows;
      color: #fff;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      .goback {
        margin: auto;
      }
    }
  }

  .product__detail__container {
    margin-top: 50px;
    text-align: center;

    .product__detail__container__caption {
      h3,
      p {
        margin: 30px auto;
      }

      .container__caption__main__info,
      .container__caption__main__info section {
        align-items: center;
        display: flex;
        font-size: 0.9rem;
        gap: 20px;
        justify-content: center;
      }

      .container__caption__main__info {
        section {
          gap: 5px;
          padding: 0.5em !important;

          svg {
            color: $oragen-color;
          }

          &.rooms {
            cursor: pointer;
          }

          &.active {
            border-bottom: solid $oragen-color;
          }
        }
      }

      .product__detail__container__caption__details {
        margin-top: 50px;
        text-align: left;

        p {
          border-bottom: solid 1px $oragen-color;
          margin: 0 auto;
          max-width: 300px;
          width: 300px;
        }
      }
    }
  }

  .product__detail__gallery {
    margin-top: 90px;
    position: relative;
    width: 100%;

    h4 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    .product__detail__gallery__container {
      position: relative;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

@media (max-width: 775px) {
  .product__detail__gallery__container {
    grid-template-columns: 1fr 1fr !important;

    img {
      grid-column: span 1 !important;
      grid-row: span 1 !important;
    }
  }
}

@media (max-width: 650px) {
  .product__detail__gallery__container,
  .product__detail__container__caption__details {
    grid-template-columns: 1fr !important;
  }

  .container__caption__main__info {
    flex-wrap: wrap;
  }
}
