@import "../../utils/utils.style.scss";

.aboutus {
  position: relative;
  width: 100%;

  .aboutus__panel {
    margin-top: 100px;
    position: relative;
    width: 100%;

    .app__panel__image {
      height: auto;
      min-height: 700px;

      &.contactUs__panel__container {
        min-height: 500px;
      }

      .app__panel__image__container {
        height: auto;

        .shape__container__list {
          @include displayFlex;
          align-items: stretch;
          gap: 20px;
          justify-content: flex-start;
          margin-top: 50px;
          position: relative;
          width: 100%;
        }

        .whyUs__container__list {
          @include displayFlex;
          align-items: stretch;
          flex-direction: column;
          gap: 20px;
          justify-content: flex-start;
          margin-top: 50px;
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

.whyUs__panel__container {
  .app__panel__image__container {
    margin-bottom: 50px !important;

    h2 {
      margin-top: 50px !important;
    }

    .whyUs__container__list {
      min-height: 600px;

      .whyUs__panel {
        border: solid 1px $gray-inputs;

        &:hover {
          background-color: $card-testimonial-light-bg;
          border-color: $card-testimonial-light-bg;
          transition: ease-out all 0.5s;
        }

        &.dark:hover {
          background-color: $card-testimonial-dark-bg;
          border-color: $card-testimonial-dark-bg;
          transition: ease-out all 0.5s;
        }
      }
    }
  }
}

.how-it-works {
  padding: 50px 0;
  position: relative;

  .how-it-works__title {
    margin-bottom: 2em;
    text-align: center;

    h3 {
      font-size: 2rem;
      font-weight: 600;
      margin: auto;
    }

    p {
      margin: auto;
      max-width: 500px;
      width: 100%;
    }
  }

  .how-it-works__steps {
    @include displayFlex;
    align-items: baseline;

    .arrow {
      height: 50px;
      width: 50px;
      object-fit: contain;

      &:nth-last-child(1) {
        display: none;
      }

      &.dark {
        filter: contrast(1);
      }
    }

    .whyUs__panel {
      .whyUs__panel__caption {
        p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.whyUs__panel {
  @include displayFlex;
  align-items: flex-start;
  border-radius: $external-border-radius;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 400;
  padding: 1em;
  transition: ease-out all 0.5s;

  .shape__container {
    .shape {
      height: 50px;
      width: 50px;
      margin-top: 8px;
    }
  }

  .whyUs__panel__caption {
    h4 {
      font-size: 25px;
      font-weight: 700;
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .aboutus {
    .aboutus__panel {
      .app__panel__image {
        .app__panel__image__container {
          .shape__container__list {
            justify-content: center;
          }
        }
      }
    }
  }

  .whyUs__panel__container {
    .app__panel__image__container {
      .whyUs__container__list {
        .whyUs__panel {
          .whyUs__panel__caption {
            text-align: left;
          }
        }
      }
    }
  }

  .how-it-works {
    .how-it-works__steps {
      columns: 3;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

      .arrow {
        transform: rotate(90deg);
      }

      .whyUs__panel {
        flex: 1;
        flex-direction: column;
        align-items: center;

        .whyUs__panel__caption {
          text-align: center;
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 970px) {
}
