@import "../../utils/utils.style.scss";

.app__slider {
  padding-top: 60px;
  position: relative;
  padding-bottom: 50px;

  .app__slider__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    h2 {
      font-size: 2.5em;
      font-weight: 600;
    }

    .app__slider__title__controls {
      svg {
        background-color: $disabled-color;
        border-radius: 50%;
        color: $gray-header-text;
        cursor: not-allowed;
        font-size: 1.75rem;
        margin: 0 5px;
        padding: 5px;
        transition: ease-in-out all 0.5s;

        &.active {
          @include buttonOrangeGradient;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .app__slider__items {
    overflow: hidden;

    .app__slider__section {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      transition: ease-in-out all 0.5s;
      position: relative;
    }
  }
}

@media (min-width: 1900px) {
  .app__slider {
    .app__slider__items {
      .app__slider__section {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 650px) {
  .app__slider {
    .app__slider__title {
      h2 {
        padding-left: 20px;
        font-size: 2rem;
      }
    }
  }
}
